{% trans_default_domain 'admin' %}

{% macro edit(admin, object, version, disable) %}
    {% if is_granted('EDIT', version) %}
        <a href="{{ version_url(admin.generateObjectUrl('edit', object), version) }}" class="btn btn-sm btn-default edit_link {{ disable|default(false) ? "disabled" }} " title="{{ 'admin.versioning.action.edit'|trans }}">
            <i class="glyphicon glyphicon-edit"></i>
            {{ 'admin.versioning.action.edit'|trans }}
        </a>
    {% endif %}
{% endmacro %}

{% macro delete(admin, object, version) %}
    {% if is_granted('DELETE', version) %}
        <a onclick="return confirm({{ 'admin.versioning.confirmation.delete'|trans }});" href="{{ version_url(admin.generateObjectUrl('deleteversion', object, {version_number: version.getVersionNumber()}), version) }}" class="btn btn-sm text-danger btn-default delete_link" title="{{ 'admin.versioning.action.delete'|trans }}">
            <i class="glyphicon glyphicon-trash"></i>
            {{ 'admin.versioning.action.delete'|trans }}
        </a>
    {% endif %}
{% endmacro %}

{% macro view(object, version) %}
    {% if is_granted('VIEW', version) %}
        <a href="{{ version_url(object_url(object), version) }}" class="btn btn-sm btn-default view_link" title="{{ 'admin.versioning.action.show'|trans }}">
            <i class="glyphicon glyphicon-zoom-in"></i>
            {{ 'admin.versioning.action.show'|trans }}
        </a>
    {% endif %}
{% endmacro %}