{% block zicht_version_row %}
    {{ form_row(form.version_operation) }}
    {{ form_widget(form.version) }}
    <table class="table-bordered table-condensed">
        {% for v in versions %}
            <tr {% if v.versionNumber == form.version.vars.value %} style="background-color: green"{% endif %}>
                <td>{% if v.isActive %}*{% endif %}</td>
                <th>{{ v.versionNumber }}</th>
                <th>{{ v.basedOnVersion }}</th>
                <td><a href="{{ version_url(admin.generateObjectUrl('edit', object), v) }}">EDIT</a></td>
                <td><a href="{{ version_url(object_url(object), v) }}">SHOW</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}